<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表搜索排序</title>
    <script src="../js/vue.js"></script>
    <style>
        body{ text-align:center}
        #demo{
            margin:0 auto;
            width:400px;
            height:100px
        }
        td,th{
            border:1px solid;
            padding:0;
            width:100px;
            height:10px
        }
        table{
            border-collapse:collapse;
            border-spacing:0;
        }
    </style>
</head>
<body>
<div id="demo">
    <table >
        <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
            <tr>
                <th><input type="text" ></th>
                <th><input type="text" v-model="searchPerson.name"></th>
                <th><input type="text" v-model="searchPerson.age"></th>
                <th><input type="text"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(p, index) in filterPersons" :key="index">
                <td>{{index}}</td>
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
                <td>
                    <!-- 函数名不能用delete，update -->
                    <button @click="deleteP(index)">删除</button>
                    <button @click="updateP(index, {name:'Cat', age: 16})">更新</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button @click="setOrderType(2)">年龄升序</button>
    <button @click="setOrderType(1)">年龄降序</button>
    <button @click="setOrderType(0)">原本顺序</button>
</div>
</body>
<script>
    const vm = new Vue({
        el:"#demo",
        data:{
            searchPerson:{
                name:"",
                age:""
            },
            orderType:0,//0原本，1升序，2降序
            persons:[
                {name:"tom",age:'18'},
                {name:"bob",age:17},
                {name:"1jack",age:19},
                {name:"2jack",age:16},
                {name:"3jack",age:14},
                {name:"4jack",age:19},
                {name:"5jack",age:15},
                {name:"6jack",age:12},
                {name:"rose",age:20}
            ]
        },
        methods:{
            deleteP(index){
                this.persons.splice(index,1);
            },
            updateP(index,newP){
                this.persons.splice(index,1,newP);
            },setOrderType(value){
                this.orderType=value;
            }
        },
        computed:{
            filterPersons (){
                var searchName=this.searchPerson.name;
                var searchAge=this.searchPerson.age;
                var type = this.orderType;
                let arr;
                arr = this.persons
                    .filter(p=>p.name.indexOf(searchName)>-1)
                    .filter(p=>(p.age+"").indexOf(searchAge)>-1);
                if(type!==0){
                    arr.sort(function (p1,p2){
                        //返回负数 p1 在前
                        //返回整数 p2 在前
                        if(type==2){
                            return p1.age-p2.age;
                        }else if(type==1){
                            return p2.age-p1.age;
                        }
                    })
                }
                return arr;
            }
        }
    })
</script>
</html>